.card-pokemon{
    background-color: #F2F2F2;
}

.card-img-top{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span{
    border: 10px;
}

.abilities{
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    border-radius: 5px;
}